.container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.6rem;
    margin: 0 auto;

    // @media (max-width: $container) {
    //     padding: 0 20px;
    // }

    // @media (max-width: $bp-tablet) {
    //     max-width: $width-content-tablet;
    // }

    // @media (max-width: $bp-tablet-md) {
    //     max-width: $width-content-tablet-md;
    // }

    // @media (max-width: $bp-mobile) {
    //     padding: 0 1.6rem;
    //     max-width: $width-content-mobile;
    // }

}